* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.container {
  width: 150rem;
  height: 80rem;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 10rem 1fr 1fr 10rem;
  grid-template-areas:
    'header header header header'
    'main-content main-content main-content sidebar'
    'twin-one twin-one twin-two twin-two'
    'footer footer footer footer';
}

.header {
  grid-area: header;
  background: lightblue;
}

.main-content {
  grid-area: main-content;
  background: green;
}

.sidebar {
  grid-area: sidebar;
  background-color: purple;
}

.twin-one {
  grid-area: twin-one;
  background-color: orange;
}

.twin-two {
  grid-area: twin-two;
  background-color: orange;
}

.footer {
  grid-area: footer;
  background-color: blue;
}
